{%  extends 'main.html' %}
{% load static %}

{% block content %}

    
{% if page == 'signup' %}
<div class="login-form ">
    <h1 class="sign-up">Sign Up</h1>
<form class="login" action="" method="POST">
    {% csrf_token %}
    {% for form in userForm %}
    
    <div>
        <label>

            {{form.label}}
        </label>
    </div>
    <div class="field">
       {{form}}
    </div>

    {% endfor %}
    <div class="signup-user">

        <input  type="submit" value="Signup">
    </div>
</form>
<div class="redirect-user">

    <p>Already have an account?</p> <a href="{% url 'login' %}">Login</a>
</div>
</div>
{% else %}


<div class="login-form">
<h1 class="sign-up">
    Login
</h1>
<form class="login" action="{% url 'login' %}" method="POST">
    {% csrf_token %}
   <div class="username-field">
    <input type="text" placeholder="Username" name="username">
   </div>
    <div class="password-field">
        <input type="password" placeholder="Password" name="password">
    </div>
   
    <div class="signupuser">

        <input type="submit" value="Login">
    </div>
    
</form>
<div class="redirect-user">
    <p>Have no account ?</p> <a href="{% url 'signup' %}">Signup</a>
    
</div>

</div>
<div class="designed-by">
    <div class="developer">
        <p>Developed by:</p> <span>Numan Aziz</span>

    </div>
        
        <a href="https://github.com/NumanAziz4712/"><ion-icon class="icon" name="logo-github"></ion-icon></a> 
</div>
{% endif %}


{% endblock %}